@page "/"

<PageTitle>KriniteWebShop - Index Page</PageTitle>

<div class="row">
    @foreach (var product in Products ?? Enumerable.Empty<Models.ProductModel>())
    {
        <ProductCard product="product"></ProductCard>
    }
</div>
@code {
    [Inject]
    private IProductService? productService { get; set; }
    private IEnumerable<Models.ProductModel?>? Products { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Products = await productService.GetProductsAsync();
    }
}