@page "/"

<PageTitle>KriniteWebShop - Index Page</PageTitle>

@if (Products?.Count() > 0)
{
    <div class="latest-promo">
        @currentDate.ToString(@"hh\:mm\:ss")
    </div>

    <ProductsWrapper Products="@Products?.Take(4)" Header="Top products" Color="bg-blue"></ProductsWrapper>
    <ProductsWrapper Products="@Products?.TakeLast(4)" Header="New products" Color="bg-indigo"></ProductsWrapper>

    <div class="row justify-content-center">
        @foreach (var product in Products ?? Enumerable.Empty<Models.ProductModel>())
        {
            <ProductCard product="product"></ProductCard>
        }
    </div>
}
else
{
    <div class="d-block m-auto justify-content-center spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
@code {
    [Inject]
    private IProductService? productService { get; set; }
    private IEnumerable<Models.ProductModel?>? Products { get; set; }
    private TimeSpan date = new TimeSpan(24, 00, 00);
    private TimeSpan currentDate{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        Products = await productService.GetProductsAsync();
        RunTimer();
    }

    private int currentCount = 0;

    private void RunTimer()
    {
        var timer = new Timer(new TimerCallback(_ =>
        {
            currentDate = date - DateTime.Now.TimeOfDay;
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }), null, 1000, 1000);
    }
}