@page "/product/{id}"

@if (ProductModel is not null)
{
    <ProductCard Product="ProductModel"></ProductCard>
}
else
{
    <p>Loading...</p>
}

@code {
    [Inject]
    private ICartService? CartService { get; set; }

    [Inject]
    private IProductService? ProductService { get; set; }
    private Models.ProductModel? ProductModel { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProductModel = await ProductService!.GetProductByIdAsync(Id);
    }
}
