@page "/product/{id}"

@if (productModel is not null)
{
    <ProductCard product="productModel"></ProductCard>
}
else
{
    <p>Loading...</p>
}

@code {
    [Inject]
    private ICartService cartService { get; set; }

    [Inject]
    private IProductService productService { get; set; }
    private Models.ProductModel productModel { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        productModel = await productService.GetProductByIdAsync(Id);
    }
}
