@page "/products"

@if (ProductsCollection.Count() > 0)
{
    <input type="text" @bind-value="userName" />
    <div class="row justify-content-center">
        @foreach (var product in ProductsCollection)
        {
            <DetailedProductCard AddProductToCart=@(AddProductToCart) Product="product"></DetailedProductCard>
        }
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Inject]
    public ICartState? CartState { get; set; }

    [Inject]
    private IProductService? ProductService { get; set; }

    [Inject]
    private ICartService? CartService { get; set; }

    private string userName { get; set; }
    private IEnumerable<Models.ProductModel?>? ProductsCollection { get; set; }

    private async Task AddProductToCart(Models.ProductModel productModel)
    {
        if (string.IsNullOrWhiteSpace(userName))
            return;

        Models.CartModel? cartModel = await CartService!.GetCartAsync(userName);
        CartState?.SetState(cartModel.Items.Count());

        var cartItem = new Models.CartItemModel(productModel.Id, productModel.Name, 1, productModel.Price);
        await CartService.UpdateCartAsync(cartModel with
            {
                Items = cartModel.Items.Append(cartItem)
            });
    }

    protected override async Task OnInitializedAsync()
    {
        var collection = await ProductService!.GetProductsAsync();
        ProductsCollection = collection.ToList() ?? Enumerable.Empty<Models.ProductModel>();
    }
}
