@page "/login"

<h3 class="h3">Login page</h3>


<div class="d-grid">
    <InputText id="username"
               placeholder="Enter Username"
               class="form-control"
               DisplayName="User name"
               @bind-Value="@UserName"></InputText>

    <button class="btn btn-secondary mt-2" @onclick="@SetUserName">Sign in</button>
</div>

<p class="p-2">Work in progress</p>
@code {
    [Inject]
    ILoginService? LoginService { get; set; }

    [Inject]
    ICartState? CartState { get; set; }

    private string? UserName { get; set; }

    private async Task SetUserName()
    {
        await LoginService!.Login(UserName);
        await InvokeAsync(StateHasChanged);
    }
}
