<footer class="text-light link-light">
    <div class="p-4 footer--style">
        <div class="row">
            <div class="text-center">
                <div class="d-flex justify-content-center align-items-center">
                    <p>Copyright © @DateTime.Now.Year </p>
                    <i class="footer__line mx-3"></i>
                    <a href="https://www.facebook.com/krystianpetek">
                        <i class="fa-brands fa-facebook footer__icon"></i>
                    </a>
                    <a href="https://github.com/krystianpetek">
                        <i class="fa-brands fa-github footer__icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/krystian-petek-3731b9215/">
                        <i class="fa-brands fa-linkedin footer__icon"></i>
                    </a>
                    <a href="mailto:krystianpetek2@gmail.com">
                        <i class="fa fa-envelope mr-2 footer__icon"></i>
                    </a>
                    <i class="footer__line mx-3"></i>
                    <p>created by Krystian Petek</p>
                </div>
            </div>
        </div>
    </div>
</footer>