.navbar__background--color {
  background-color: #8540f5;
}

::deep .nav-link {
  color: #fff;
}

.cart-badge {
  box-shadow: 0px 0px 2px 4px #6c757d;
}

@media (min-width: 768px) {
  .nav-link__hover {
    position: relative;
  }
  .nav-link__hover::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 0;
    background-color: #e685b5;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    left: 50%;
    transform: translate(-50%);
  }
  .nav-link__hover:hover::after {
    height: 4px;
    width: 80%;
    transition: 0.3s;
  }
  ::deep .active::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 40%;
    background-color: #e685b5;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    left: 65%;
    transform: translate(-60%, 25px);
  }
}
@media (max-width: 767.9px) {
  .nav-link__hover:hover {
    text-shadow: 0px 10px 15px #d63384;
  }
  ::deep .active::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    left: 17px;
    transform: translate(0, 4px);
    border-radius: 50%;
    background-color: #e685b5;
  }
}
@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}
::deep .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}
