<footer class="text-light link-light">
    <div class="p-4 footer--style">
        <div class="row">
            <div class="text-center">
                @*<h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-5">
                Computer science student and .NET Developer.
                </p>
                <div class="mt-3">
                <p class="text-light">created by <a href="https://github.com/krystianpetek"><i>Krystian Petek</i></a></p>
                </div>*@
                <div class="d-flex justify-content-center align-items-center">
                    <p>Copyright © @DateTime.Now.Year </p>
                    <i class="footer__line mx-3"></i>
                    <a href="https://www.facebook.com/krystianpetek">
                        <i class="fa-brands fa-facebook footer__icon"></i>
                    </a>
                    <a href="https://github.com/krystianpetek">
                        <i class="fa-brands fa-github footer__icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/krystian-petek-3731b9215/">
                        <i class="fa-brands fa-linkedin footer__icon"></i>
                    </a>
                    <i class="footer__line mx-3"></i>
                    <p>created by Krystian Petek</p>
                </div>
            </div>
            @*
            <div class="col-6 text-center">
            <h5>Contact</h5>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            <ul class="list-unstyled">
            <li class="p-1"><i class="fa fa-home mr-2"></i> Wadowice</li>
            <li class="p-1"><i class="fa fa-phone mr-2"></i> 123 456 789</li>
            <li class="p-1"><i class="fa fa-envelope mr-2"></i> krystianpetek2@gmail.com</li>
            <li class="p-1"><i class="fa fa-linkedin mr-2"></i> <a href="https://www.linkedin.com/in/krystian-petek-3731b9215/">Linkedin</a></li>
            </ul>
            </div>
            *@
        </div>
    </div>
</footer>