@inherits LayoutComponentBase

<PageTitle>KriniteWebShop.WebBlazorClient</PageTitle>

<div class="container-fluid gx-0 main-content">
    <div>
        <NavigationMenu />
    </div>

    <main>
        <article class="container content">
            @Body
        </article>
    </main>
    <Footer/>
</div>
