@inherits LayoutComponentBase

<PageTitle>KriniteWebShop.WebBlazorClient</PageTitle>

<div class="container-fluid gx-0">
    <div class="">
        <NavigationMenu />
    </div>

    <main>
        <article class="container content px-4">
            @Body
        </article>
    </main>
</div>
