<div class="navbar navbar-expand-md justify-content-between p-2 navbar__background--color navbar-dark">
    <div class="container-fluid">

        <div class="navbar-header navbar-nav p-2">
            <a href="" Match="NavLinkMatch.All"
                class="navbar-brand">KriniteWebShop</a>
        </div>
        <button class="navbar-toggler" @onclick="ToggleNavMenu"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <nav id="collapsibleNavbar" class="navbar-collapse @NavMenuCssClass justify-content-end">
            <div class="navbar-nav" @onclick="ToggleNavMenu">
                <div class="nav-item p-2 nav-link__hover" >
                    <NavLink 
                        class="nav-link" 
                        href="Product" 
                        Match="NavLinkMatch.All">
                        <span class="bi bi-cart px-1" aria-hidden="true"></span> Products
                    </NavLink>
                </div>
                <div class="nav-item p-2 nav-link__hover">
                    <NavLink class="nav-link"
                             href="Order">
                        <span class="bi bi-box-seam px-1" aria-hidden="true"></span> Orders
                    </NavLink>
                </div>
                <div class="nav-item p-2 nav-link__hover">
                    <NavLink class="nav-link"
                             href="Cart">
                        <span class="bi bi-cart4 px-1" aria-hidden="true"></span> Cart
                    </NavLink>
                </div>
                <div class="nav-item p-2 nav-link__hover">
                    <NavLink class="nav-link"
                             href="Contact">
                        <span class="bi bi-person-vcard" aria-hidden="true"></span> Contact
                    </NavLink>
                </div>
            </div>
        </nav>

    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
