<div class="">
    <div class="">
        <a class="" href="">KriniteWebShop</a>
        <nav class="">
            <div class="">
                <NavLink class="" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="">
                <NavLink class="" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="">
                <NavLink class="" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </div>
        </nav>
        <button class="" @onclick="ToggleNavMenu">
            <span class="btn btn-primary"></span>
        </button>
    </div>
</div>



@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
