.navbar__background--color {
  background-color: #8540f5;
}

::deep .nav-link {
  color: #fff;
}

@media (min-width: 768px) {
  .nav-link__hover {
    position: relative;
  }
  .nav-link__hover::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 0;
    background-color: #e685b5;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    left: 50%;
    transform: translate(-50%);
  }
  .nav-link__hover:hover::after {
    height: 4px;
    width: 80%;
    transition: 0.3s;
  }
  ::deep .active::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 40%;
    background-color: #e685b5;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    left: 65%;
    transform: translate(-60%, 25px);
  }
}
@media (max-width: 767.9px) {
  .nav-link__hover:hover {
    text-shadow: 0px 10px 15px #d63384;
  }
  ::deep .active::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: 17px;
    transform: translate(0, 5px);
    border-radius: 50%;
    background-color: #e685b5;
  }
}
/*.menu {
    display: flex;
    justify-content:space-between;
}

.menu-item {
    justify-content:right;
    color: #ffffff;
}
.link, .link:active{
    color: #ffffff;
}*/
@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}
::deep .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
}

/*.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

    .collapse {*/
/* Never collapse the sidebar for wide screens */
/*display: block;
    }

    .nav-scrollable {*/
/* Allow sidebar to scroll for tall menus */
/*height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav-link {
    padding: 10px !important;
}*/
