<div class="navbar navbar-expand-sm justify-content-between  p-3 navbar__background--color">
    <a class="navbar navbar-brand text-white p" href="">KriniteWebShop</a>
    <nav class="navbar-collapse @NavMenuCssClass">
        <div class="nav-item">
            <NavLink class="nav-link" href="Product" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Order">
                <span class="oi oi-plus" aria-hidden="true"></span> Orders
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Contact">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contact
            </NavLink>
        </div>
    </nav>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
