
<div class="p-3 product-card__container col-lg-3">
    <div class="card product-card">
        <img class="card-img-top" src="@(product?.Image ?? """.\placeholder.png""")" />
        <div class="card-title">
            <p class="product-card__title">
                <NavLink class="link-primary text-decoration-none" href="@(GetProductLink)"> @product?.Name</NavLink>
            </p>
        </div>
        <div class="card-body">
            <p>@product?.Description</p>
        </div>
        <div class="card-footer text-end text-dark product-card__footer">
            <p class="text-danger">@product.Category</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Models.ProductModel? product { get; set; }

    private string GetProductLink => $"product/{product.Id}";
}