<div class="m-3 card">
    <div class="card-header @Color text-white align-items-center">
        <p class="card-title text-center p-2 m-0">@Header</p>
    </div>
    <div class="card-body row justify-content-center">
        @foreach (Models.ProductModel? productModel in Products ?? Enumerable.Empty<Models.ProductModel>())
        {
            <ProductCard product="productModel"></ProductCard>
        }
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; }
    
    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public IEnumerable<Models.ProductModel?>? Products { get; set; }
}
